body{
    margin: 0;
    font-family: 'Lato';
}
#topbanner{
    /*background-color: rgb(153, 23, 23) !important;*/
    background-image: linear-gradient(#051322, #15437c);
    background-repeat: no-repeat;
    height: 545px;
    width: auto;
    justify-content: center;
}
#logosize{
    width: 113px;
    height: 36px;
}
#data{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}
.iconsize {
    width: 48px;
    height: 38px;
    margin-left: 26px;
}
.catogerycontainer{
    align-items: center !important;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
    display: flex;
    height: 100px;
    width: 855px;
    justify-content: space-evenly;
    padding-top: 20px;
    z-index: 2;
}
.catogerycontainer  span{
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column !important;
    width: 70%; /* Four links of equal widths */
    margin-bottom: 18px;


}
.catogerycontainer  span p{
    margin-top: 10px;
}
#ticletsearch{

    background: white;
    position: absolute;
    margin-top: 50px;
    border-radius: 10px;
    z-index: 1;
}
.size{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    padding: 23px ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 0.3px rgb(230, 230, 230);
}
.secondsize{
    margin-left: -29px !important;
    margin-top: 10px;
    padding: 23px ;
    border: solid 0.3px rgb(230, 230, 230);
    border-left: none !important;
}
.selectoneway{
    font-weight: 400;
    margin-top: 56px;
    margin-left: 13px;
}
.selectoneway span input{
    margin-left: 27px;
}
.noborder{
    font-size: 25px;
    font-weight: 800;
    margin-left: -20px;
    color: rgb(0, 0, 0) !important;
    box-shadow: none !important;
    border: none !important;
    box-sizing: content-box;
}
.border{
    border-right: solid 1px #051322;
}
@media screen and (max-width:1000px){
    .secondsize{
        margin-left: 10px !important;
        margin-top: 10px;
        padding: 23px ;
        border: solid 0.3px rgb(230, 230, 230);
    }
    .noborder{
        font-size: 25px;
        font-weight: 800;

        color: rgb(0, 0, 0) !important;
        box-shadow: none !important;
        border: none !important;
        box-sizing: content-box;
    }
}