.typesize{
    width: 105px;
    height: 40px;
    margin-left: 20px;
    float: left;
    justify-content: center;
}
.nomleft{
    margin-left: 2px !important;
    background: #F2F2F2;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 300;
    font-size: 12px;
}
.percentageside{
    float: left;
    margin-left: 10px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    border-right: dotted 0.5px rgb(61, 61, 61);
}
.precentageboxsizeside{
    float: right !important;
    padding: 12px 12px;
    width: 160px !important;
    background: #F2F2F2;
    border-radius: 5px;
    color: #4A4A4A;
    border: none !important;
}
.center{
    margin-top: 12px;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
}
.mumbaigoa{
    float: right !important;
    padding: 12px 12px;
    width: 140px !important;
    background: #F2F2F2;
    border-radius: 5px;
    color: #4A4A4A;
    border: none !important;
    margin-right: 20px;
}
#side{
    margin-left: 42%;
    margin-top: -130px;
    z-index: 3;
}
.button{
    width: 216px;
    margin-bottom: -32px;
    padding: 8px;
    border: none;
    background-image: linear-gradient(to right, #52B0FE, #075BF3);
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-radius: 25px;
    z-index: 3 !important;
    position: absolute;
}
.normaldiv{
    margin-top: 60px;
    margin-left: 615px;
    color: white;
}
#undercontainer{
    width: 990px;
    margin-left: 60px;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 30px;
    display: block;
    display: flex;
    cursor: pointer;
 }
  #undercontainer p{
    line-height: -0px;
    margin-bottom: -10px;
    margin-left: 35px;
 }
 #undercontainer ul li{
    list-style: none;
    float: left;
    padding: 5px;
    padding-right: 26px;
    font-size: 12px;
    border-right: solid 0.5px rgb(189, 189, 189);
 }
 .nopadding{
    border-right: none !important;
 }
 .aftersearchlogo{
    width: 30px;
    height: 30px;
    margin-right: 5px;
 }
 #offerherading{
    font-weight: 700;
    color: black !important;
    font-size: 35px;
 }
 .containerclass{
    display: flex;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    border-radius: 10px;
 }
 .containerclass li{
    margin-top: 38px;
    list-style: none;
    padding-right: 26px;
 }
 #space{
    margin-left: 25px;
 }
 hr {
    height: 20px;
    color: #075BF3;
 }